{% extends 'base.html' %}
{% block style %}
{% load staticfiles %}
<style>
html{
	background-image: url('{% static "img/background.jpg" %}');
	background-color: #cccccc; 
  	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
  	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	min-height: 100%;
	width: 100%;
	background-color: transparent !important;
	display: flex;
  	align-items: center;
    justify-content: center;
}
</style>
{% endblock %}
{% block content %}
<div class="jumbotron mt-5 mb-5">
  <h1 class="display-4">Ellenőrizd a bejövő emaileket</h1>
  <hr class="my-4">
  <p>Elküldtük a jelszó megváltoztatásához szükséges utasításokat a megadott e-mail címre.</p>
</div>
{% endblock %}