{% extends 'base.html' %}
{% block style %}
{% load staticfiles %}
<style>
html{
	background-image: url('{% static "img/background.jpg" %}');
	background-color: #cccccc; 
  	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
  	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	min-height: 100%;
	width: 100%;
	background-color: transparent !important;
	display: flex;
  	align-items: center;
    justify-content: center;
}
</style>
{% endblock %}
{% block content %}
{% if validlink %}
	<div class="jumbotron mt-5 mb-5">
	<h1 class="display-4">Állítsd be az új jelszót!</h1>
	<hr class="my-4">
	<form method="POST">
		{% csrf_token %}
		<ul>
			<li>A jelszavad ne hasonlítson más, megadott felhasználói adataidhoz.</li>
			<li>Túl rövid jelszó, legalább 8 karakterből kell állnia.</li>
			<li>A jelszó ne legyen túl gyakori.</li>
			<li>A jelszó nem állhat kizárólag numerikus karakterekből.</li>
		</ul>
		Jelszó:<br>
			{{ form.new_password1 }}<br>
		Jelszó megerősítése:<br>
			{{ form.new_password2 }}<br>
		<input class="btn btn-primary mt-2" type="submit" value="Új jelszó">
	</form>
	</div>
{% else %}
	<div class="jumbotron mt-5 mb-5">
	<h1 class="display-4">A jelszó csere link érvénytelenné vált.<br>A jelszó cserét újra kell kérned.</h1>
	</div>
{% endif %}
{% endblock %}