{% extends 'base.html' %}
{% block style %}
{% load staticfiles %}
<style>
html{
	background-image: url('{% static "img/background.jpg" %}');
	background-color: #cccccc; 
  	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
  	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	min-height: 100%;
	width: 100%;
	background-color: transparent !important;
	display: flex;
  	align-items: center;
    justify-content: center;
}
</style>
{% endblock %}
{% block content %}
<div class="jumbotron mt-5 mb-5">
  <h1 class="display-4">Elfelejtett jelszó</h1>
  <hr class="my-4">
	<form method = 'POST' action= '' enctype = "multipart/form-data">
        {% csrf_token %}
        E-mail:<br>
		{{form.email }}
		<br><br>
		<button class="btn btn-primary" type="submit">
        Kérem az utasításokat!
		</button>
		<br>
	</form>
</div>
{% endblock %}