{% extends "base.html" %}
{% load staticfiles %}
{% block extra_head_tags %}
  <title> {{ title }} </title>
  <meta name="description" content="Elemi programozás feladatok gyűjteménye középiskolás diákok számára. Bejelentkezés. Regisztráció.">
  <meta name="keywords" content="bejelentkezés, regisztráció, elemi programozás,
								gyűjtemény, középiskola, pécsi tudományegyetem, pte, természettudományi kar,
								ttk, programtervező, informatika, gazdaságinformatika">
  <meta name="author" content="PTE TTK">
{% endblock extra_head_tags %}
{% block style %}
<style type="text/css">
html{
	background-image: url('{% static "img/background.jpg" %}');
	background-color: #cccccc; 
  	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
  	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	min-height: 100%;
	width: 100%;
	background-color: transparent !important;
	display: flex;
  	align-items: center;
    justify-content: center;
}
</style>
{% endblock %}
{% block content %}
	<div class="card bg-light mt-5 mb-5">
		<div class="card-header pt-4 pb-3">
			<h1>{{ title }}</h1>
		</div>
		<div class="card-body">
			<form method = 'POST' action= '' enctype = "multipart/form-data">
				{% csrf_token %}
				{{form.as_p }}
				<br>
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					{{ title }}
				</button>
				<br>
				<div class="text-danger text-center">
				{% if form.errors %}
				{% for field in form %}
					{% for error in field.errors %}
					{{ error|escape }}
					{% endfor %}
				{% endfor %}
				{% for error in form.non_field_errors %}
					{{ error|escape }}
				{% endfor %}
				{% endif %}
				<div>
				<div class="text-center">
					{% if title == "Bejelentkezés" %}<a class="text-secondary" href = "/accounts/register">Regisztráció</a>{% endif %}
					{% if title == "Regisztráció" %}<a class="text-secondary" href = "/accounts/login">Bejelentkezés</a>{% endif %}
					<br>
					<a class="text-secondary" href = "/accounts/reset">Elfelejtett jelszó</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}